@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Nunito:300,300i,400,400i&subset=latin-ext');

$headFont : 'Montserrat', sans-serif;
$mainFont : 'Nunito', sans-serif;
$white : white;
$defaultTransition : all 0.35s ease;
$green : #4db53c;
$danger : #dd9d22;
$important : #307bbb;

body {
	font-family: $mainFont;
	margin: 0;
	animation: fadeBody .5s forwards ease;
	overflow-x: hidden !important;

}

.success {
	color: $green;
}

.danger {
	color: $danger;
}

.important {
	color: $important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headFont;
	line-height: 1.4;
	display: block;
}

h4 {
	line-height: 0.94;
}

a {
	color: $green;
	transition: all 0.35s ease;
	text-decoration: none;
}

a:hover {
	color: $green;
	transition: all 0.35s ease;
	border-bottom: 1px solid $green;
}

#nav {
	width: 100% !important;
	height: 100px;
	background: black;
	position: fixed;
	z-index: 100;

	img {
		padding: 10px 15px;
		float: left;
		max-width: 120px;
	}

	#items {
		float: right;
		margin-right: 25%;
	}

	ul {
		list-style: none;
	}

	li {
		list-style: none;
		display: inline-block;
		margin: 17px 9px;

		a {
			text-decoration: none;
			color: $white;
			font-size: 24px;
		}

		a:hover {
			border-bottom: 1px solid $green;
			color: $green;
		}

	}
}

div {
	.profileIntro {
		width: 100%;
		display: inline-block;
		float: left;
	}
}

p {
	font-family: $mainFont;
	line-height: 1.2;
}

#fullProfile {
	opacity: 0;
	animation: fadeBody 0.5s forwards ease .5s;

	h1 {
		display: inline-block;
	}

	h2 {
		display: inline-block;
		float: right;
	}
}

#gridDemo {
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 5px;
}

.col {
	display: table-cell;
}

.col-2 {
	padding: 10px;
	width: 46.2%;
	margin: 10px 1%;
	display: inline-block;
	border: 1px solid black;
	vertical-align: top;

	img {
		padding: 20px;
	}
	.col-3 {
		width: 28%;
		border: 0px solid;
	}
}

.col-3 {
	padding: 10px;
	width: 29.6%;
	margin: 10px 1%;
	display: inline-block;
	border: 1px solid black;

	h2 {
		text-align: center;
	}
}
.col-4 {
	padding: 10px;
	width: 21.3%;
	margin: 10px 1%;
	display: inline-block;
	border: 1px solid black;

	h2, p {
		text-align: center;
	}
}

#pic img, #fullProfile img {
	max-width: 20%;
	float: left;
	display: inline-block;
}

#rootB {
	position: absolute;
	top: 0;
	right: 20px;
	color: white;
}

.container {
	max-width: 1440px;
	margin: 0 auto !important;
	padding-top: 100px;
}

@keyframes fadeBody {
	from{opacity: 0}
	to{opacity: 1}
}

/*    DASHBOARD CHART    */


.c100 {
	font-size: 185px;
}
